.cabecalho-ficha{
	width: 100%;
}

.cabecalho-ficha h1{
	text-align: center;
}

.input-file-configuracao{
	padding-left: 50px;
	width: 450px;
}

.secao-config{
	width: 100%;
	display: flex;
	justify-content: center;
}

.secao-ficha{
	width: 50%;
	float: left;
	padding: 50px;
}

.inputs-ficha .input-group{
	margin-bottom: 5px;
}

.inputs-ficha .input-group-addon{
	width: 120px;
}

.inputs-ficha .form-control{
	max-width: 150px;
}

#modalConfiguracao .modal-dialog{
	width: 60%;
	max-width: none;
}

#modalConfiguracao .modal-body{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.input-configuracao{
	width: 30%;	
	margin-left: 1.5%;
	margin-right: 1.5%;
	margin-bottom: 1%;
	float: left;
}

.input-configuracao label{
	font-size: 0.80em;
	max-width: 100%;
	word-wrap: break-word;
}

