{% extends "sistema/form.html" %}
{% load widget_tweaks %}

{% block form_fields %}
<form action="" method="POST" autocomplete="off">
    {% csrf_token %}        
    <fieldset>        
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="id_nome_sistema">Nome: </label>
                    {% include "field_input.html" with text_field=form.nome_sistema %}

                </div>                    
            </div>
            <div class="col-md-12">                    
                <button class="btn btn-sucesso fr" role="button" id="save_button">Salvar</button>
                <a href="{% url 'sistema_consulta' %}"><button type="button" role="button" class="btn fr btn-cancelar margin-right" id="cancel_button">Cancelar</button></a>
            </div>
        </div>
    </fieldset>
</form>
{% endblock %}