{% extends "base.html" %}

{% block body %}
<div class="cabecalho">
    <h1>{{ page_header }}</h1>
</div>
<div class="container">

    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ error|escape }}
            </div>
            {% endfor %}
        {% endfor %}
    {% endif %}

    {% block form_fields %}
    {% endblock %}
</div>
{% endblock %}