<div class="results" id="table-atributo">
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        Nome
                    </th>
                    <th>
                        Sistema
                    </th>
                    <th>
                        Tipo
                    </th>
                    <th>
                        Possui Valor Inicial?
                    </th>                    
                    <th>
                        Editar
                    </th>
                    <th>
                        Excluir
                    </th>
                </tr>                
            </thead>
            <tbody>
                {% for subatributo in subatributos %}
                    <tr>
                        <td>
                            {{ subatributo.nome_subatributo }}
                        </td>
                        <td>
                            {{ subatributo.fk_id_sistema.nome_sistema }}
                        </td>
                        <td>
                            {{ subatributo.get_tipo_subatributo_display }}
                        </td>
                        <td>
                            {{ subatributo.get_valor_inicial_subatributo_display }}
                        </td>                        
                        <td>
                            Editar
                        </td>
                        <td>
                            Excluir
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% include "pagination.html" with item_list=subatributos type='atributo' %}
</div>