<!DOCTYPE html>
<html ng-app="distorcao">
	<head>
		<meta charset="UTF-8">
		<meta name="*viewport*" content="width=device-width">
		<title>Distorção - Calculador de ficha</title>

		<!-- CSS -->
		<link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="css/style.css">
		
		<!-- Scripts -->
		<script src="lib/angular/angular.min.js"></script>
		<script src="lib/jquery/jquery-3.2.1.min.js"></script>
		<script src="lib/popper/popper.min.js"></script>
		<script src="lib/bootstrap/js/bootstrap.min.js"></script>
		<script src="js/distorcao.js"></script>		
		<script src="js/controllers/ficha.controller.js"></script>
		<script src="js/directives.js"></script>
		<script src="js/services/calculabonus.service.js"></script>
	</head>
	<body>
		<div ng-controller="fichaController as ficha" ng-init="ficha.inicializaFicha()">
			<div class="cabecalho-ficha">
				<h1>Ficha Distorção</h1>
				<div class="input-file-configuracao">
					<label for="configuracao-ficha">Configuração</label>
					<input type="file" class="form-control" id="configuracao-ficha" accept=".json" ng-json-select="ficha.carregaJson(contents)">				
				</div>				
			</div>
			<div class="secao-config">
				<div class="alert alert-info">
					<strong>Configuração selecionada: {{ficha.configNome}}</strong>
				</div>
			</div>
			<div class="secao-ficha">
				<h5>Atributos</h5>
				<div class="inputs-ficha">
					<div class="input-group">
						<span class="input-group-addon">Nível</span>
						<input type="number" class="form-control" ng-model="ficha.attNivel" min="0" ng-change="ficha.calcVida()">
					</div>
					<div class="input-group">
						<span class="input-group-addon">Vigor</span>
						<input type="number" class="form-control" ng-model="ficha.attVigor" min="0" ng-change="ficha.calcVida()">
					</div>
					<div class="input-group">
						<span class="input-group-addon">Determinação</span>
						<input type="number" class="form-control" ng-model="ficha.attDeterminacao" min="0" ng-change="ficha.calcVida(); ficha.calcPeso()">
					</div>
					<div class="input-group">
						<span class="input-group-addon">Força</span>
						<input type="number" class="form-control" ng-model="ficha.attForca" min="0" ng-change="ficha.calcBonusForca(); ficha.calcPeso(); ficha.calcMovimentacao()">
					</div>
					<div class="input-group">
						<span class="input-group-addon">Destreza</span>
						<input type="number" class="form-control" ng-model="ficha.attDestreza" min="0" ng-change="ficha.calcBonusDestreza(); ficha.calcMovimentacao()">
					</div>
					<div class="input-group">
						<span class="input-group-addon">Mental</span>
						<input type="number" class="form-control" ng-model="ficha.attMental" min="0" ng-change="ficha.calcBonusMental()">
					</div>
				</div>
			</div>
			<div class="secao-ficha">
				<h5>Resultados</h5>
				<table class="table table-striped">
					<tr class="row">
						<td class="col-xs-4">Vida total:</td>
						<td class="col-xs-8	">{{ficha.resultadoVida}} HP</td>
					</tr>
					<tr class="row">
						<td class="col-xs-4">Peso:</td>
						<td class="col-xs-8">{{ficha.resultadoPeso | number : 1}}</td>
					</tr>
					<tr class="row">
						<td class="col-xs-4">Bonus força:</td>
						<td class="col-xs-8">{{ficha.resultadoBonusForca}}%</td>
					</tr>
					<tr class="row">
						<td class="col-xs-4">Bonus destreza:</td>
						<td class="col-xs-8">{{ficha.resultadoBonusDestreza}}%</td>
					</tr>
					<tr class="row">
						<td class="col-xs-4">Bonus mental:</td>
						<td class="col-xs-8">{{ficha.resultadoBonusMental}}%</td>
					</tr>
					<tr class="row">
						<td class="col-xs-4">Movimentação:</td>
						<td class="col-xs-8">{{ficha.resultadoMovimentacao}}</td>
					</tr>
				</table>
			</div>
			<div class="secao-ficha">
				<button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#modalConfiguracao" ng-click="ficha.transfereValores()">
					Configurações
				</button>
				<div id="modalConfiguracao" class="modal fade" role="dialog">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h4 class="modal-title">Configurações</h4>
								<button type="button" class="btn btn-primary" ng-click="ficha.exportaConfiguracoes()">
									Exportar configuração
								</button>
							</div>
							<div class="modal-body">
								<div class="input-configuracao">
									<label for="configNome">Nome da configuração</label>
									<input type="text" class="form-control" ng-model="ficha.configNome" ng-change="" id="configNome">
								</div>
								<div class="input-configuracao">
									<label for="configVidaBase">Vida base</label>
									<input type="text" class="form-control" ng-model="ficha.configVidaBase" ng-change="" id="configVidaBase">
								</div>								
								<div class="input-configuracao">
									<label for="configVidaNivel">Vida por nível</label>
									<input type="text" class="form-control" ng-model="ficha.configVidaNivel" ng-change="" id="configVidaNivel">
								</div>
								<div class="input-configuracao">
									<label for="configVidaDeterminacao">Vida por determinação</label>
									<input type="text" class="form-control" ng-model="ficha.configVidaDeterminacao" ng-change="" id="configVidaDeterminacao">
								</div>
								<div class="input-configuracao">
									<label for="configIntervaloVigor">Intervalos de vigor</label>
									<input type="text" class="form-control" ng-model="ficha.configIntervaloVigor" ng-change="" id="configIntervaloVigor">
								</div>
								<div class="input-configuracao">
									<label for="configMultiplicadorVigor">Multiplicadores de vigor</label>
									<input type="text" class="form-control" ng-model="ficha.configMultiplicadorVigor" ng-change="" id="configMultiplicadorVigor">
								</div>
								<div class="input-configuracao">
									<label for="configIntervaloPesoDeterminacao">Intervalos de peso determinação</label>
									<input type="text" class="form-control" ng-model="ficha.configIntervaloPesoDeterminacao" ng-change="" id="configIntervaloPesoDeterminacao">
								</div>
								<div class="input-configuracao">
									<label for="configMultiplicadorPesoDeterminacao">Multiplicadores de peso determinação</label>
									<input type="text" class="form-control" ng-model="ficha.configMultiplicadorPesoDeterminacao" ng-change="" id="configMultiplicadorPesoDeterminacao">
								</div>
								<div class="input-configuracao">
									<label for="configIntervaloPesoForca">Intervalos de peso força</label>
									<input type="text" class="form-control" ng-model="ficha.configIntervaloPesoForca" ng-change="" id="configIntervaloPesoForca">
								</div>
								<div class="input-configuracao">
									<label for="configMultiplicadorPesoForca">Multiplicadores de peso força</label>
									<input type="text" class="form-control" ng-model="ficha.configMultiplicadorPesoForca" ng-change="" id="configMultiplicadorPesoForca">
								</div>
								<div class="input-configuracao">
									<label for="configIntervaloForca">Intervalos de bonus força</label>
									<input type="text" class="form-control" ng-model="ficha.configIntervaloForca" ng-change="" id="configIntervaloForca">
								</div>
								<div class="input-configuracao">
									<label for="configMultiplicadorForca">Multiplicadores de bonus força</label>
									<input type="text" class="form-control" ng-model="ficha.configMultiplicadorForca" ng-change="" id="configMultiplicadorForca">
								</div>
								<div class="input-configuracao">
									<label for="configIntervaloDestreza">Intervalos de bonus destreza</label>
									<input type="text" class="form-control" ng-model="ficha.configIntervaloDestreza" ng-change="" id="configIntervaloDestreza">
								</div>
								<div class="input-configuracao">
									<label for="configMultiplicadorDestreza">Multiplicadores de bonus destreza</label>
									<input type="text" class="form-control" ng-model="ficha.configMultiplicadorDestreza" ng-change="" id="configMultiplicadorDestreza">
								</div>
								<div class="input-configuracao">
									<label for="configIntervaloMental">Intervalos de bonus mental</label>
									<input type="text" class="form-control" ng-model="ficha.configIntervaloMental" ng-change="" id="configIntervaloMental">
								</div>
								<div class="input-configuracao">
									<label for="configMultiplicadorMental">Multiplicadores de bonus mental</label>
									<input type="text" class="form-control" ng-model="ficha.configMultiplicadorMental" ng-change="" id="configMultiplicadorMental">
								</div>
								<div class="input-configuracao">
									<label for="configMovimentacaoBase">Base de movimentação</label>
									<input type="text" class="form-control" ng-model="ficha.configMovimentacaoBase" ng-change="" id="configMovimentacaoBase">
								</div>
							</div>
							<div class="alert alert-warning">
								<small><strong>Aviso:</strong><br>
								Deve-se manter cada intervalo/multiplicador separado por vírgula (,) e sem espaço após, caso contrário haverá erros.<br>
								Ao exportar uma configuração, ela será salva e atualizada na ficha.</small>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default btn-md" data-dismiss="modal" ng-click="ficha.salvaConfiguracoes()">Salvar</button>
								<button type="button" class="btn btn-default btn-md" data-dismiss="modal">Cancelar</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
