<!DOCTYPE html>
<html ng-app="distorcao">
	<head>
		<meta charset="UTF-8">
		<title>Distorção - Calculador de ficha</title>


		<!-- CSS -->
		<link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="css/style.css">

		<!-- Scripts -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
		<script src="lib/jquery/jquery-3.2.1.min.js"></script>
		<script src="lib/bootstrap/js/bootstrap.min.js"></script>
		<script src="js/distorcao.js"></script>
		<script src="js/controllers/contrFicha.js"></script>
	</head>
	<body>
		<div ng-controller="contrFicha">
			<div class="secao-ficha">
				<h5>Atributos</h5>
				<div class="inputs-ficha">
					<div class="input-group">

						<span class="input-group-addon">Nível</span>
						<input type="number" class="form-control" ng-model="attNivel" id="attNivel" min="0" ng-change="calcNivel()">
					</div>
					<div class="input-group">
						<span class="input-group-addon">Vigor</span>
						<input type="number" class="form-control" ng-model="attVigor" min="0" ng-change="calcNivel()">
					</div>
					<div class="input-group">
						<span class="input-group-addon">Determinação</span>
						<input type="number" class="form-control" ng-model="attDeterminacao" min="0">
					</div>
					<div class="input-group">
						<span class="input-group-addon">Força</span>
						<input type="number" class="form-control" ng-model="attForca" min="0">
					</div>
					<div class="input-group">
						<span class="input-group-addon">Destreza</span>
						<input type="number" class="form-control" ng-model="attDestreza" min="0">
					</div>
					<div class="input-group">
						<span class="input-group-addon">Mental</span>
						<input type="number" class="form-control" ng-model="attMental" min="0">
					</div>
				</div>
			</div>
			<div class="secao-ficha">
				<h5>Resultados</h5>
				<table class="table table-striped">
					<tr class="row">
						<td class="col-xs-4">Vida total:</td>
						<td class="col-xs-8	">{{resultadoVida}} HP</td>
					</tr>
					<tr class="row">
						<td class="col-xs-4">Peso:</td>
						<td class="col-xs-8">{{attDeterminacao * 5}}</td>
					</tr>
					<tr class="row">
						<td class="col-xs-4">Bonus força:</td>
						<td class="col-xs-8">{{attForca * 2}}%</td>
					</tr>
					<tr class="row">
						<td class="col-xs-4">Bonus destreza:</td>
						<td class="col-xs-8">{{attDestreza * 2}}%</td>
					</tr>
				</table>
			</div>
		</div>
	</body>
</html>
