{% extends "base.html" %}

{% block body %}
<div ng-controller="simuladorController as simulador">
    <div class="cabecalho">
        <nav class="navbar navbar-toggleable-md">
            <a href="{% url 'index' %}" class="navbar-brand btn-arrow-left">
                <h2>🔙</h2>
            </a>
        </nav>
{% verbatim %}
        <div class="input-file-configuracao">
            <label for="configuracao-acao">Ações</label>
            <input type="file" class="form-control" id="configuracao-acao" accept=".json" ng-json-select="simulador.importaAcoes(contents)">
        </div>
    </div>
    <div class="input-group">
        <span class="input-group-addon">Mudança de direção</span>
        <input type="number" class="form-control" ng-model="simulador.inicializacaoMudancaDirecao" 
            placeholder="Informe quanto de inicialização custará a mudança de direção">
    </div>
    <div class="input-group">
        <span class="input-group-addon">Parar movimento</span>
        <input type="number" class="form-control" ng-model="simulador.inicializacaoPararMovimento" 
            placeholder="Informe quanto de inicialização custará parar parar o movimento">
    </div>
    <div class="input-group">
        <span class="input-group-addon">Novo combatente</span>
        <input type="text" class="form-control" ng-model="simulador.nomeCombatente" placeholder="Informe um novo combatente">
        <button type="button" class="btn btn-success btn-sm input-group-addon" ng-click="simulador.novoCombatente()">+</button>
    </div>
    <div class="card-deck">
        <div class="card {{combatente.desabilitado?'cartao-desabilitado':''}}" ng-repeat="combatente in simulador.combatenteSimulador">
            <div class="card-body">
                <h6 class="card-title">{{combatente.nome}}</h6>
                <div class="input-group">
                    <span class="input-group-addon">Nome</span>
                    <input type="text" class="form-control" ng-model="combatente.nome">
                </div>
                <div class="input-group">						
                    <input type="number" class="form-control" ng-model="combatente.inicializacao" min="0">
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Ação</span>
                    <select class="form-control" ng-options="simulador.acoes.indexOf(acao) as acao.nome for acao in simulador.acoes" ng-model="combatente.acao">
                    </select>
                </div>
                <button type="button" class="btn btn-danger btn-sm" ng-click="simulador.removeCombatente($index)">-</button>
            </div>
        </div>
    </div>
    <button class="btn btn-info" ng-click="simulador.iniciaCombate()">Pronto</button>
    <button class="btn btn-info" ng-click="simulador.alterarDirecao()" ng-show="simulador.estadoTurno == 1">Mudar direção</button>
    <button class="btn btn-info" ng-click="simulador.pararMovimento()" ng-show="simulador.estadoTurno == 1">Parar movimento</button>
    <button class="btn btn-info" ng-click="simulador.novoTurno()">Novo Turno</button>
    <div class="container">
        <div class="progress">
            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: {{simulador.posicaoTurnoPercentual}}%" 
                aria-valuenow="{{simulador.posicaoTurnoPercentual}}" aria-valuemin="0" aria-valuemax="100"></div>
        </div>

        <label for="logCombate">Log do combate</label>
        <textarea class="form-control" id="logCombate" rows="6" readonly>{{simulador.logCombate}}</textarea>
    </div>
{% endverbatim %}
</div>
{% endblock %}