{% extends "base.html" %}

{% block body %}
<div class="cabecalho">
    <h1>Cadastro de Sistema</h1>
</div>
<div class="container">
    
    {% if form.errors %}
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{form.non_field_errors}}
    </div>
    {% endif %}

    <form action="{% url 'sistema_alteracao' sistema.id %}" method="POST" autocomplete="off">       
        {% csrf_token %}        
        <fieldset>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="nome_sistema">Nome: </label>
                        <input type="text" class="form-control" name="nome_sistema" id="nome_sistema" value="{{ sistema.nome_sistema }}">
                    </div>                    
                </div>                
                <div class="col-md-12">                    
                    <button class="btn btn-success fr" role="button" id="save_button">Salvar</button>
                    <a href="{% url 'sistema_consulta' %}"><button type="button" role="button" class="btn fr btn-cancelar margin-right" id="cancel_button">Cancelar</button></a>
                </div>
            </div>
        </fieldset>
    </form>    
</div>
{% endblock %}