{% extends "atributo_subatributo/form.html" %}
{% load widget_tweaks %}

{% block form_fields %}
<div ng-controller="AtributoSubatributoController as vm">
    <form action="{{url_destino}}" method="POST" autocomplete="off" ng-init="vm.carregaDados({{id}})">
        {% csrf_token %}
        <fieldset>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Sistema: </label>
                        {% render_field form.fk_id_sistema|attr:"ng-change:vm.changeSistema()"|attr:"ng-model:vm.sistema" class+="form-control" %}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Atributo: </label>
                        <select id="fk_id_atributo" class="form-control" name="fk_id_atributo" required="true" ng-model="vm.atributo_id"
                            ng-options="atributo.nome_atributo for atributo in vm.lista_atributos track by atributo.id">                                                       
                        </select>                        
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Subatributo: </label>                                                
                        <select id="fk_id_subatributo" class="form-control" name="fk_id_subatributo" required="true" ng-model="vm.subatributo_id"
                            ng-options="subatributo.nome_subatributo for subatributo in vm.lista_subatributos track by subatributo.id">                                                       
                        </select>                                            
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Tipo de Relação: </label>
                        {% render_field form.tipo_relacao_atributo_subatributo class+="form-control" %}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Intervalos: </label>
                        {% render_field form.intervalo_atributo_subatributo class+="form-control" %}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Multiplicadores: </label>
                        {% render_field form.multiplicador_atributo_subatributo class+="form-control" %}
                    </div>
                </div>
                <div class="col-md-12">
                    <button class="btn btn-success fr" role="button" id="save_button">Salvar</button>
                    <a href="{% url 'atributo_subatributo_consulta' %}"><button type="button" role="button" class="btn fr btn-cancelar margin-right" id="cancel_button">Cancelar</button></a>
                </div>
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}