{% extends "calculo/form.html" %}
{% load widget_tweaks %}

{% block form_fields %}
{{ form.errors }}
{{ form.non_field_errors }}
<div ng-controller="CalculoController as vm">
    <form method="POST" autocomplete="off" ng-init="vm.carregaDados({{id}}, '{{url_destino}}')">            
        {% csrf_token %}
        <fieldset>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Sistema: </label>
                        <select name="fk_id_sistema" class="form-control" id="id_fk_id_sistema" ng-model="vm.form.fk_id_sistema"
                            ng-options="sistema.nome_sistema for sistema in vm.lista_sistema track by sistema.id" ng-change="vm.changeSistema()">
                        </select>                        
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Atributo: </label>
                        <select id="id_fk_id_atributo" class="form-control" name="fk_id_atributo" required="true" ng-model="vm.form.fk_id_atributo"
                            ng-options="atributo.nome_atributo for atributo in vm.lista_atributos track by atributo.id">                                                       
                        </select>                        
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Subatributo: </label>                                                
                        <select id="id_fk_id_subatributo" class="form-control" name="fk_id_subatributo" required="true" ng-model="vm.form.fk_id_subatributo"
                            ng-options="subatributo.nome_subatributo for subatributo in vm.lista_subatributos track by subatributo.id">
                        </select>                                            
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Tipo de Relação: </label>
                        <select name="tipo_calculo" class="form-control" id="id_tipo_calculo" ng-model="vm.form.tipo_calculo"
                            ng-options="tipo.nome for tipo in vm.lista_tipo_calculo track by tipo.id">                                                                    
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Intervalos: </label>
                        <input id="id_intervalo_calculo" name="intervalo_calculo" class="form-control" ng-model="vm.form.intervalo_calculo" type="text">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Multiplicadores: </label>
                        <input id="id_multiplicador_calculo" name="multiplicador_calculo" class="form-control" ng-model="vm.form.multiplicador_calculo" type="text">
                    </div>
                </div>
                <div class="col-md-12">
                    <button class="btn btn-success fr" role="button" id="save_button" ng-click="vm.sendFormData()">Salvar</button>
                    <a href="{% url 'calculo_consulta' %}"><button type="button" role="button" class="btn fr btn-cancelar margin-right" id="cancel_button">Cancelar</button></a>
                </div>
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}