{% extends "base.html" %}

{% block body %}
<div class="cabecalho">
    <h1>Lista de Cálculos</h1>
</div>
<div class="container">
    
    <div class="margin-bottom-10px row">
        <div class="col-md-6">
            <a href="{% url 'calculo_cadastro' %}" class="btn btn-novo">
                Novo Cálculo
            </a>    
            <a href="{% url 'index' %}" class="btn btn-cancelar margin-left">
                Voltar
            </a>
        </div>        
        
    </div>    

    {% include "calculo/table.html" %}
    
</div>
{% endblock %}