<div class="results" id="table-atributo">
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        Atributo
                    </th>
                    <th>
                        Subatributo
                    </th>
                    <th>
                        Tipo
                    </th>
                    <th>
                        Intervalos
                    </th>
                    <th>
                        Multiplicadores
                    </th>
                    <th>
                        Editar
                    </th>
                    <th>
                        Excluir
                    </th>
                </tr>                
            </thead>
            <tbody>
                {% for item in calculos %}
                    <tr>
                        <td>
                            {{ item.fk_id_atributo.nome_atributo }}
                        </td>
                        <td>
                            {{ item.fk_id_subatributo.nome_subatributo }}
                        </td>
                        <td>
                            {{ item.get_tipo_calculo_display }}
                        </td>                        
                        <td>
                            {{ item.intervalo_calculo }}
                        </td>
                        <td>
                            {{ item.multiplicador_calculo }}
                        </td>
                        <td>
                            <a class="table-link" href="{% url 'calculo_alteracao' item.id %}">Editar</a>
                        </td>
                        <td>
                            <a class="table-link" href="{% url 'calculo_exclusao' item.id %}">Excluir</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% include "pagination.html" with item_list=atributos_subatributos type='atributo' %}
</div>