{% extends "atributo/form.html" %}
{% load widget_tweaks %}

{% block form_fields %}
<form action="{{url_destino}}" method="POST" autocomplete="off">       
    {% csrf_token %}
    <fieldset>        
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Nome: </label>                    
                    {% render_field form.nome_subatributo class+="form-control" %}
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Tipo do Atributo: </label>                    
                    {% render_field form.tipo_subatributo class+="form-control" %}
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Possui valor inicial? </label>
                    <div class="radio">
                        {% for radio in form.valor_inicial_subatributo %}
                            <label for="{{ radio.id_for_label }}" class="radio-inline margin-right-10px">
                                {{ radio.tag }}
                                {{ radio.choice_label }}
                            </label>                            
                        {% endfor %}
                    </div>                    
                </div>
            </div>            
            <div class="col-md-4">
                <div class="form-group">
                    <label>Sistema: </label>                    
                    {% render_field form.fk_id_sistema class+="form-control" %}
                </div>
            </div>
            <div class="col-md-12">                    
                <button class="btn btn-success fr" role="button" id="save_button">Salvar</button>
                <a href="{% url 'subatributo_consulta' %}"><button type="button" role="button" class="btn fr btn-cancelar margin-right" id="cancel_button">Cancelar</button></a>
            </div>
        </div>
    </fieldset>
</form>
{% endblock %}