{% extends "atributo/form.html" %}
{% load widget_tweaks %}

{% block form_fields %}
<form action="" method="POST" autocomplete="off">
    {% csrf_token %}
    <fieldset>        
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Nome: </label>
                    {% include "field_input.html" with text_field=form.nome_subatributo %}
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Tipo do Atributo: </label>
                    {% include "field_input.html" with text_field=form.tipo_subatributo %}
                    <div class="invalid-feedback">
                        Teste
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Possui valor inicial? </label>
                    <div class="form-control {% if form.valor_inicial_subatributo.errors %} is-invalid {% endif %}">
                        <div class="form-check-input">
                            {% for radio in form.valor_inicial_subatributo %}
                            <label for="{{ radio.id_for_label }}" class="form-check-label margin-right-10px">
                                {{ radio.tag }}
                                {{ radio.choice_label }}
                            </label>
                            {% endfor %}
                        </div>
                    </div>
                    {% include "invalid_feedback.html" with field=form.valor_inicial_subatributo %}
                </div>
            </div>            
            <div class="col-md-4">
                <div class="form-group">
                    <label>Sistema: </label>
                    {% include "field_input.html" with text_field=form.fk_id_sistema %}
                </div>
            </div>
            <div class="col-md-12">                    
                <button class="btn btn-sucesso fr" role="button" id="save_button">Salvar</button>
                <a href="{% url 'subatributo_consulta' %}"><button type="button" role="button" class="btn fr btn-cancelar margin-right" id="cancel_button">Cancelar</button></a>
            </div>
        </div>
    </fieldset>
</form>
{% endblock %}