{% extends "base.html" %}

{% block body %}
<div class="cabecalho">
    <h1>Lista de Subatributos</h1>
</div>
<div class="container">
    
    <div class="margin-bottom-10px row">
        <div class="col-md-6">
            <a href="{% url 'subatributo_cadastro' %}" class="btn btn-novo">
                Novo Subatributo
            </a>    
            <a href="{% url 'index' %}" class="btn btn-cancelar margin-left">
                Voltar
            </a>
        </div>
        
    </div>

    {% csrf_token %}

    {% include "subatributo/table.html" %}
    
</div>
{% endblock %}