{% extends "base.html" %}

{% block body %}
<div class="cabecalho">
    <h1>Lista de Fichas</h1>
</div>
<div class="container">
    
    <div class="margin-bottom-10px row">
        <div class="col-md-6">
            <a href="{% url 'ficha_cadastro' %}" class="btn btn-novo">
                Nova Ficha
            </a>    
            <a href="{% url 'index' %}" class="btn btn-cancelar margin-left">
                Voltar
            </a>
        </div>    
        
    </div>    

    {% include "ficha/table.html" %}
    
</div>
{% endblock %}