{% extends "atributo/form.html" %}
{% load widget_tweaks %}

{% block form_fields %}
<div>
    <form action="" method="POST" autocomplete="off" id="id_form_atributo">
        {% csrf_token %}
        <fieldset>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Nome: </label>
                        {% include "field_input.html" with text_field=form.nome_atributo %}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Tipo do Atributo: </label>
                        {% include "field_input.html" with text_field=form.tipo_atributo %}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Valor mínimo: </label>
                        {% include "field_input.html" with text_field=form.valor_minimo_atributo %}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Valor máximo: </label>
                        {% include "field_input.html" with text_field=form.valor_maximo_atributo %}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Sistema: </label>
                        {% include "field_input.html" with text_field=form.fk_id_sistema %}
                    </div>
                </div>
                <div class="col-md-12">
                    <button class="btn btn-sucesso fr" role="button" id="save_button">Salvar</button>
                    <a href="{% url 'atributo_consulta' %}"><button type="button" role="button" class="btn fr btn-cancelar margin-right" id="cancel_button">Cancelar</button></a>
                </div>
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}